Repository ftsartek/linked: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python
      - id: ruff-format
        name: ruff format
        entry: bash -c 'cd api && .venv/bin/ruff format .'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: bash -c 'cd api && .venv/bin/ruff check --fix .'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      - id: ty-check
        name: ty check
        entry: bash -c 'cd api && .venv/bin/ty check'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      # Frontend
      - id: web-format
        name: web format
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/
        pass_filenames: false

      - id: web-lint
        name: web lint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/
        pass_filenames: false

      - id: web-check
        name: web check
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/
        pass_filenames: false

feat(api): improve handling around edge cases when collecting char locations
  api/src/routes/users/controller.py
  api/src/routes/users/location/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat: add footer with Github link + trademark notification
  web/src/lib/components/common/Footer.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: web-format, web-lint, web-check

feat(api): add handling to collect character locations on map load
  api/src/routes/maps/controller.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/events.py
  api/src/routes/maps/publisher.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
Due: ruff-format, ruff-check, ty-check

feat(api): add handling to propagate character location update events via SSE
  api/src/routes/auth/controller.py
  api/src/routes/auth/service.py
  api/src/routes/users/controller.py
  api/src/routes/users/location/__init__.py
  api/src/routes/users/location/dependencies.py
  api/src/routes/users/location/queries.py
  api/src/routes/users/location/service.py
  api/src/routes/users/service.py
Due: ruff-format, ruff-check, ty-check

chore(api): update API schema
  web/src/lib/client/schema.d.ts
Due: web-format, web-lint, web-check

test(api): add test for location propagation
  api/src/routes/auth/service.py
  api/tests/integration/test_11_users.py
Due: ruff-format, ruff-check, ty-check

chore(web): update SSE patterns to support new events
  web/src/lib/components/map/Map.svelte
  web/src/lib/helpers/mapSSE.ts
  web/src/lib/helpers/mapTypes.ts
Due: web-format, web-lint, web-check

feat(api): ensure character location/status updates include a last updated indicator
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): indicate characters on maps with active tracking
  web/src/lib/components/map/CharacterIndicator.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/Node.svelte
  web/src/lib/helpers/formatTime.ts
  web/src/lib/helpers/mapSSE.ts
  web/src/lib/helpers/mapTypes.ts
Due: web-format, web-lint, web-check

chore(web): improve map creation/update dialogues
  web/src/lib/components/map/MapCreationDialog.svelte
  web/src/lib/helpers/mapTypes.ts
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

feat(web): add custom skeleton theme
  web/src/app.html
  web/src/linked.css
  web/src/routes/layout.css
Due: web-format, web-lint, web-check

theme1
  AGENTS.md
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/InstanceAdminsCard.svelte
  web/src/lib/components/account/PublicMapSubscriptionsCard.svelte
  web/src/lib/components/common/Footer.svelte
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/lib/components/system/SystemDetailsCard.svelte
  web/src/routes/maps/+layout.svelte
  web/src/routes/maps/+page.svelte
  web/src/routes/reference/systems/+page.svelte
  web/src/routes/reference/wormholes/+page.svelte
Due: web-format, web-lint, web-check

theme2
  AGENTS.md
  web/src/lib/components/account/BrowsePublicMapsDialog.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/MapCreationDialog.svelte
  web/src/lib/components/map/MapSettingsDialog.svelte
  web/src/lib/components/reference/MultiSelect.svelte
  web/src/lib/components/reference/SystemFilter.svelte
  web/src/lib/components/search/EntitySearch.svelte
  web/src/lib/components/search/LocalEntitySearch.svelte
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/UserSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/lib/components/system/SystemDetailsCard.svelte
Due: web-format, web-lint, web-check

theme3
  web/src/lib/components/map/Node.svelte
  web/src/lib/components/system/NotesCard.svelte
Due: web-format, web-lint, web-check

theme4
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/UserSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
Due: web-format, web-lint, web-check

feat(web): switch CSS over to use custom skeleton theme
  AGENTS.md
  web/src/lib/components/account/BrowsePublicMapsDialog.svelte
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/InstanceAdminsCard.svelte
  web/src/lib/components/account/PublicMapSubscriptionsCard.svelte
  web/src/lib/components/common/Footer.svelte
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/MapCreationDialog.svelte
  web/src/lib/components/map/MapSettingsDialog.svelte
  web/src/lib/components/map/Node.svelte
  web/src/lib/components/reference/MultiSelect.svelte
  web/src/lib/components/reference/SystemFilter.svelte
  web/src/lib/components/search/EntitySearch.svelte
  web/src/lib/components/search/LocalEntitySearch.svelte
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/UserSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/lib/components/system/SystemDetailsCard.svelte
  web/src/routes/maps/+layout.svelte
  web/src/routes/maps/+page.svelte
  web/src/routes/reference/systems/+page.svelte
  web/src/routes/reference/wormholes/+page.svelte
Due: web-format, web-lint, web-check

chore: version bump 0.1.2
  api/pyproject.toml
  api/uv.lock
  web/package-lock.json
  web/package.json
  web/src/lib/components/map/Map.svelte
Due: web-format, web-lint, web-check

fix(cli): remove missing `node_id` column reference from note lifecycle
  api/src/services/lifecycle.py
Due: ruff-format, ruff-check, ty-check

chore: add a makefile command to bump version across API + Web
  Makefile
Due: none

chore: bump version 0.1.3
  api/pyproject.toml
  api/uv.lock
  web/package-lock.json
  web/package.json
Due: web-format, web-lint, web-check
