Repository ftsartek/linked: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Python
      - id: ruff-format
        name: ruff format
        entry: bash -c 'cd api && .venv/bin/ruff format .'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: bash -c 'cd api && .venv/bin/ruff check --fix .'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      - id: ty-check
        name: ty check
        entry: bash -c 'cd api && .venv/bin/ty check'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

      # Frontend
      - id: web-format
        name: web format
        entry: bash -c 'cd web && npm run format'
        language: system
        files: ^web/
        pass_filenames: false

      - id: web-lint
        name: web lint
        entry: bash -c 'cd web && npm run lint'
        language: system
        files: ^web/
        pass_filenames: false

      - id: web-check
        name: web check
        entry: bash -c 'cd web && npm run check'
        language: system
        files: ^web/
        pass_filenames: false

fix: correct DI for settings
  api/src/api/di/__init__.py
  api/src/api/di/settings.py
  api/src/api/main.py
  api/src/cli/collect.py
  api/src/cli/cron.py
  api/src/esi_client/client.py
  api/src/routes/auth/controller.py
  api/src/routes/universe/controller.py
  api/src/routes/users/controller.py
  api/tests/factories/app.py
  api/tests/fixtures/events.py
Due: ruff-format, ruff-check, ty-check

feat: add new background image
  web/src/routes/+layout.svelte
  web/static/bg.jpg
  web/static/eve.jpg
Due: web-format, web-lint, web-check

chore: update `settings` usages to `app_settings`
  api/src/api/main.py
  api/src/esi_client/client.py
  api/src/routes/auth/controller.py
  api/tests/factories/app.py
Due: ruff-format, ruff-check, ty-check

chore: add pochven to 'unidentified' system list
  api/src/cli/preseed.py
Due: ruff-format, ruff-check, ty-check

fix: CLI schema app import
  api/src/cli/schema.py
Due: ruff-format, ruff-check, ty-check

feat: improve wormhole type setting & display
  api/src/database/models/signature.py
  api/src/routes/maps/controller.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
  api/src/routes/universe/__init__.py
  api/src/routes/universe/controller.py
  api/src/routes/universe/dependencies.py
  api/src/routes/universe/queries.py
  api/src/routes/universe/service.py
  web/src/lib/client/schema.d.ts
  web/src/lib/components/map/FloatingEdge.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/MapContextMenu.svelte
  web/src/lib/components/map/UnidentifiedSystemList.svelte
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/lib/helpers/edgeLabelPosition.ts
  web/src/lib/helpers/mapContextActions.ts
  web/src/lib/helpers/mapContextMenu.ts
  web/src/lib/helpers/mapHelpers.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

fix: settings.py postgres password env variable
  api/src/config/settings.py
Due: ruff-format, ruff-check, ty-check

feat: improve wormhole type search with dynamic filtering and auto-open
  api/src/routes/universe/queries.py
  api/src/routes/universe/service.py
  api/uv.lock
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/MapContextMenu.svelte
  web/src/lib/components/search/WormholeSearch.svelte
  web/src/lib/helpers/mapContextMenu.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat: auto-highlight and select first item in search dropdowns
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
Due: web-format, web-lint, web-check

chore: bump project versions
  api/pyproject.toml
  api/uv.lock
  web/package.json
Due: web-format, web-lint, web-check

feat: add signature lifecycle/expiry cron handling
  api/src/cli/cron.py
  api/src/services/lifecycle.py
Due: ruff-format, ruff-check, ty-check

chore: update AGENTS.md with migration information
  AGENTS.md
Due: none

feat: add route calculation between map nodes
  api/migrations/20260117120000_add_esi_route_cache.py
  api/src/api/app.py
  api/src/api/di/valkey.py
  api/src/cli/cron.py
  api/src/database/models/esi_route_cache.py
  api/src/esi_client/client.py
  api/src/routes/__init__.py
  api/src/routes/maps/__init__.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
  api/src/routes/routing/__init__.py
  api/src/routes/routing/controller.py
  api/src/routes/routing/dependencies.py
  api/src/routes/routing/service.py
  api/src/services/route_base.py
  api/src/services/route_cache.py
  api/src/services/route_calculator.py
  api/src/utils/enums.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

test: add route calculation integration tests
  api/tests/conftest.py
  api/tests/factories/static_data.py
  api/tests/fixtures/mock_esi_client.py
  api/tests/fixtures/preseed.py
  api/tests/integration/test_05_routes.py
Due: ruff-format, ruff-check, ty-check

feat: add route rendering for common trade hubs with shortest/safest options.
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/helpers/renderClass.ts
  web/src/routes/maps/+layout.svelte
  web/static/spiral.svg
Due: web-format, web-lint, web-check

fix: handling of k-space reentry interim routes
  api/src/routes/routing/dependencies.py
  api/src/routes/routing/service.py
  api/src/services/route_calculator.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(api): add celestial object database tables
  api/migrations/20260119120000_add_celestial_tables.py
Due: ruff-format, ruff-check, ty-check

feat(api): switch SDE import to JSONL format with msgspec
  api/src/cli/collect.py
  api/src/cli/preseed.py
Due: ruff-format, ruff-check, ty-check

feat(api): add system details endpoint
  api/src/routes/universe/__init__.py
  api/src/routes/universe/controller.py
  api/src/routes/universe/dependencies.py
  api/src/routes/universe/queries.py
  api/src/routes/universe/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): add SystemDetailsCard component
  web/src/lib/components/system/SystemDetailsCard.svelte
Due: web-format, web-lint, web-check

feat: add system notes
  api/migrations/20260119140000_add_notes_table.py
  api/src/cli/cron.py
  api/src/database/models/__init__.py
  api/src/database/models/note.py
  api/src/routes/auth/service.py
  api/src/routes/maps/controller.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/events.py
  api/src/routes/maps/publisher.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
  api/src/services/cleanup.py
  api/src/services/lifecycle.py
  api/src/services/route_base.py
  web/src/lib/client/schema.d.ts
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/helpers/mapSSE.ts
  web/src/lib/stores/mapSelection.ts
  web/src/routes/maps/+layout.svelte
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

chore: layouting improvements
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/lib/components/system/SystemDetailsCard.svelte
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

fix: block hotkey deletion of locked nodes
  web/src/lib/components/map/Map.svelte
Due: web-format, web-lint, web-check

tests: add extra tests for routes and new tests for universe/notes
  api/tests/integration/conftest.py
  api/tests/integration/test_05_routes.py
  api/tests/integration/test_06_universe.py
  api/tests/integration/test_07_notes.py
Due: ruff-format, ruff-check, ty-check

feat(web): add minimap on larger screens
  web/src/lib/components/map/Map.svelte
  web/src/routes/layout.css
Due: web-format, web-lint, web-check

chore(web): Improve interim connection line calculation to match normal connections
  web/src/lib/components/map/ConnectionLine.svelte
  web/src/lib/components/map/Map.svelte
Due: web-format, web-lint, web-check

chore(web): fix read-only node settings
  web/src/lib/components/map/Map.svelte
  web/src/lib/helpers/mapHelpers.ts
Due: web-format, web-lint, web-check

chore(api): add a secondary authentication rate limit for endpoints that 10/min is too few for
  api/src/routes/auth/controller.py
  api/src/routes/auth/dependencies.py
Due: ruff-format, ruff-check, ty-check

chore(web): remove unused map settings options for auto-layouting
  web/src/lib/components/map/MapSettingsDialog.svelte
Due: web-format, web-lint, web-check

chore(api): bump dependency minimum versions
  api/pyproject.toml
  api/uv.lock
Due: none

chore(web): bump package versions to skip vulns
  web/package-lock.json
  web/package.json
Due: web-format, web-lint, web-check

fix: replace direct connection usage for bulk upserts with fixed sqlspec usage
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/service.py
  api/uv.lock
  package-lock.json
Due: ruff-format, ruff-check, ty-check

perf(api): add response caching to static universe endpoints
  api/src/routes/universe/controller.py
Due: ruff-format, ruff-check, ty-check

feat(api): add Litestar response caching infrastructure
  api/src/api/app.py
  api/src/api/di/__init__.py
  api/src/api/di/valkey.py
  api/src/api/main.py
Due: ruff-format, ruff-check, ty-check

feat(api): implement instance-level ACL system
  README.md
  api/migrations/20260119205640_add_instance_acl.py
  api/src/api/app.py
  api/src/api/auth/guards.py
  api/src/api/di/sqlspec.py
  api/src/database/__init__.py
  api/src/database/models/__init__.py
  api/src/database/models/instance_acl.py
  api/src/database/models/instance_admin.py
  api/src/database/models/instance_settings.py
  api/src/routes/__init__.py
  api/src/routes/admin/__init__.py
  api/src/routes/admin/controller.py
  api/src/routes/admin/dependencies.py
  api/src/routes/auth/service.py
  api/src/routes/maps/controller.py
  api/src/routes/routing/controller.py
  api/src/routes/universe/controller.py
  api/src/routes/universe/dependencies.py
  api/src/routes/universe/queries.py
  api/src/routes/universe/service.py
  api/src/routes/users/controller.py
  api/src/services/instance_acl.py
  api/src/services/route_cache.py
  api/src/services/route_calculator.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

tests: add integration tests for admin/ACL system
  api/tests/conftest.py
  api/tests/fixtures/events.py
  api/tests/integration/test_08_admin.py
Due: ruff-format, ruff-check, ty-check

feat(web): add instance ACL and admin management components
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/InstanceAdminsCard.svelte
  web/src/lib/components/search/UserSearch.svelte
  web/src/routes/+page.svelte
  web/src/routes/account/+page.svelte
Due: web-format, web-lint, web-check

ci: add commit/code quality checks
  .github/workflows/api-checks.yml
  .github/workflows/commit-lint.yml
  .github/workflows/web-checks.yml
Due: none

feat: add logging config to ensure exceptions are captured with debug off
  api/src/api/app.py
  api/src/api/main.py
  api/src/api/middleware/__init__.py
  api/src/api/middleware/logging.py
Due: ruff-format, ruff-check, ty-check

fix: sqlspec uninitialised attribute error
  api/src/api/di/sqlspec.py
Due: ruff-format, ruff-check, ty-check
