Repository ftsartek/linked: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

ruff-format:
  name: ruff format
  entry: bash -c 'cd api && .venv/bin/ruff format .'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff check
  entry: bash -c 'cd api && .venv/bin/ruff check --fix .'
  language: system
  pass_filenames: false

ty-check:
  name: ty check
  entry: bash -c 'cd api && .venv/bin/ty check'
  language: system
  pass_filenames: false

web-format:
  name: web format
  entry: bash -c 'cd web && npm run format'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

web-check:
  name: web check
  entry: bash -c 'cd web && npm run check'
  language: system
  pass_filenames: false

chore: bump v0.0.13
  api/pyproject.toml
  api/uv.lock
  web/package-lock.json
  web/package.json
Due: web-format, web-lint, web-check

feat(api): add default public map subscription settings
  api/migrations/20260119205640_add_instance_acl.py
  api/migrations/20260122014926_add_default_subscriptions.py
  api/src/database/models/default_subscription.py
  api/src/database/models/instance_settings.py
  api/src/routes/admin/controller.py
  api/src/routes/admin/dependencies.py
  api/src/routes/auth/service.py
  api/src/routes/maps/controller.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
  api/src/services/instance_acl.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): add default public map subscription settings page
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/PublicMapSubscriptionsCard.svelte
  web/src/routes/account/+page.svelte
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

test(api): add tests for predefined map pub subscriptions
  api/tests/integration/test_08_admin.py
Due: ruff-format, ruff-check, ty-check

chore(web): standardise loading icon consistency
  web/src/lib/components/account/BrowsePublicMapsDialog.svelte
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/InstanceAdminsCard.svelte
  web/src/lib/components/account/PublicMapSubscriptionsCard.svelte
  web/src/lib/components/map/MapSharingDialog.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
Due: web-format, web-lint, web-check

chore(web): ensure dropdowns follow the same theme as other components
  web/src/lib/components/search/SystemSearch.svelte
  web/src/lib/components/search/UserSearch.svelte
  web/src/lib/components/search/WormholeSearch.svelte
Due: web-format, web-lint, web-check

test(api): add tests for wormhole reference endpoints
  api/tests/integration/test_09_reference.py
Due: ruff-format, ruff-check, ty-check

feat(api): add reference wormhole data endpoints
  api/src/api/app.py
  api/src/routes/__init__.py
  api/src/routes/reference/__init__.py
  api/src/routes/reference/controller.py
  api/src/routes/reference/dependencies.py
  api/src/routes/reference/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): add wormhole type table
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/components/reference/WormholeDetailDialog.svelte
  web/src/lib/components/reference/WormholeTable.svelte
  web/src/lib/components/reference/wormholeConstants.ts
  web/src/routes/reference/wormholes/+page.svelte
Due: web-format, web-lint, web-check

test(api): add test for wormhole system reference
  api/tests/integration/test_09_reference.py
Due: ruff-format, ruff-check, ty-check

feat(api): add system list with search
  api/src/routes/reference/controller.py
  api/src/routes/reference/dependencies.py
  api/src/routes/reference/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): add basic system list page with no filtering
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/components/reference/MultiSelect.svelte
  web/src/lib/components/reference/SystemFilter.svelte
  web/src/lib/components/reference/SystemTree.svelte
  web/src/lib/components/reference/wormholeConstants.ts
  web/src/routes/reference/systems/+page.svelte
Due: web-format, web-lint, web-check

chore: version bump 0.1.0
  api/pyproject.toml
  api/uv.lock
  web/package-lock.json
  web/package.json
Due: web-format, web-lint, web-check

test(api): add tests for status endpoint
  api/tests/integration/test_09_reference.py
  api/tests/integration/test_10_status.py
Due: ruff-format, ruff-check, ty-check

feat(web): add tranquility status display
  api/tests/fixtures/mock_esi_client.py
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/components/common/ServerStatus.svelte
  web/src/lib/stores/serverStatus.ts
  web/src/routes/+layout.svelte
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(api): add tranquility status endpoint
  api/src/api/app.py
  api/src/esi_client/client.py
  api/src/esi_client/models/__init__.py
  api/src/esi_client/models/status.py
  api/src/routes/__init__.py
  api/src/routes/status/__init__.py
  api/src/routes/status/controller.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

chore(web): move login into navbar
  web/src/lib/components/common/Navbar.svelte
  web/src/routes/+page.svelte
  web/static/eve-login-dark-sm.png
  web/static/eve-login-dark.png
  web/static/eve-login-light-sm.png
  web/static/eve-login-light.png
Due: web-format, web-lint, web-check

chore(api): set X-Compatibility-Date for ESI calls
  api/src/esi_client/client.py
Due: ruff-format, ruff-check, ty-check

chore(api): update user-agent to extrapolate from contact_email
  api/config.example.yaml
  api/src/config/settings.py
  api/tests/config.test.yaml
Due: ruff-format, ruff-check, ty-check

chore(api): remove settings option for ESI scopes, add standard base scopes as a constant
  api/src/config/settings.py
  api/src/routes/auth/controller.py
  api/src/routes/users/controller.py
  api/src/services/eve_sso.py
Due: ruff-format, ruff-check, ty-check

chore(api): make rate auth rate limiting configurable
  api/src/config/settings.py
  api/src/routes/auth/dependencies.py
Due: ruff-format, ruff-check, ty-check

test(api): add/tweak tests for updated auth flow with dynamic scopes
  api/tests/integration/test_00_authentication.py
  api/tests/integration/test_04_signatures.py
Due: ruff-format, ruff-check, ty-check

feat(web): enable scope control for character login
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/ScopeSelectionDialog.svelte
  web/src/lib/components/common/Navbar.svelte
  web/src/lib/helpers/scopeGroups.ts
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

feat(api): add handling for base/additional ESI scope groups
  Makefile
  api/migrations/20260126211611_add_scope_groups.py
  api/src/api/middleware/session.py
  api/src/database/models/map.py
  api/src/database/models/refresh_token.py
  api/src/routes/auth/controller.py
  api/src/routes/auth/service.py
  api/src/routes/maps/controller.py
  api/src/routes/maps/dependencies.py
  api/src/routes/maps/queries.py
  api/src/routes/maps/service.py
  api/src/routes/users/controller.py
  api/src/services/eve_sso.py
  api/tests/config.test.yaml
  api/tests/factories/routes.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

chore(api): add namespaced valkey client
  api/config.example.yaml
  api/src/api/di/channels.py
  api/src/api/di/valkey.py
  api/src/cli/cron.py
  api/src/config/settings.py
  api/src/utils/valkey.py
  api/tests/config.test.yaml
  api/tests/conftest.py
Due: ruff-format, ruff-check, ty-check

feat(cli): add ship types and npc station names to collect/database
  api/migrations/20260127120000_add_ship_type_table.py
  api/migrations/20260127140000_add_npc_station_name.py
  api/src/cli/collect.py
  api/src/cli/preseed.py
Due: ruff-format, ruff-check, ty-check

feat(esi): add ESI handling for location & structure
  api/src/esi_client/__init__.py
  api/src/esi_client/client.py
  api/src/esi_client/exceptions.py
  api/src/esi_client/models/__init__.py
  api/src/esi_client/models/location.py
  api/src/esi_client/models/universe.py
  api/src/services/eve_sso.py
Due: ruff-format, ruff-check, ty-check

feat(api): add API endpoints for accessing character location & structure data
  api/src/api/di/valkey.py
  api/src/routes/users/__init__.py
  api/src/routes/users/controller.py
  api/src/routes/users/location/__init__.py
  api/src/routes/users/location/dependencies.py
  api/src/routes/users/location/queries.py
  api/src/routes/users/location/service.py
  web/src/lib/client/schema.d.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

feat(web): add basic display for character status/location
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

chore: split out search scopes into separate group
  api/migrations/20260127150000_add_search_scope.py
  api/src/database/models/refresh_token.py
  api/src/routes/auth/service.py
  api/src/routes/universe/controller.py
  api/src/routes/universe/queries.py
  api/src/routes/universe/service.py
  api/src/services/eve_sso.py
  web/src/lib/components/account/ScopeSelectionDialog.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/helpers/scopeGroups.ts
Due: ruff-format, ruff-check, ty-check, web-format, web-lint, web-check

test(api): add tests for location tracking & data collection
  api/tests/factories/static_data.py
  api/tests/fixtures/mock_esi_client.py
  api/tests/fixtures/preseed.py
  api/tests/integration/conftest.py
  api/tests/integration/test_11_users.py
Due: ruff-format, ruff-check, ty-check

feat(web): add basic display for character status/location
  web/src/lib/components/system/CharacterLocationsCard.svelte
Due: web-format, web-lint, web-check

feat(cli): add keygen commands for encryption/secret keys
  api/src/cli/collect.py
  api/src/cli/cron.py
  api/src/cli/keygen.py
  api/src/cli/main.py
  api/src/cli/migrate.py
  api/src/cli/preseed.py
  api/src/config/settings.py
Due: ruff-format, ruff-check, ty-check

chore(esi): code quality improvements
  api/src/esi_client/client.py
  api/src/routes/users/location/queries.py
  api/src/routes/users/location/service.py
  api/src/services/eve_sso.py
Due: ruff-format, ruff-check, ty-check

chore(esi): add PKCE verification for SSO
  api/src/routes/auth/controller.py
  api/src/routes/auth/service.py
  api/src/routes/users/controller.py
  api/src/services/eve_sso.py
Due: ruff-format, ruff-check, ty-check

test(esi): update ESI fixtures/tests to handle tweaked ESI/SSO handling
  .github/workflows/test.yml
  api/tests/conftest.py
  api/tests/fixtures/mock_sso.py
Due: ruff-format, ruff-check, ty-check

test(esi): add PKCE verification mocking
  api/tests/factories/routes.py
  api/tests/fixtures/mock_sso.py
Due: ruff-format, ruff-check, ty-check

chore(web): standardise track formatting
  web/src/lib/components/account/BrowsePublicMapsDialog.svelte
  web/src/lib/components/account/CharactersCard.svelte
  web/src/lib/components/account/DefaultSubscriptionsCard.svelte
  web/src/lib/components/account/InstanceACLCard.svelte
  web/src/lib/components/account/InstanceAdminsCard.svelte
  web/src/lib/components/account/PublicMapSubscriptionsCard.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/MapSharingDialog.svelte
  web/src/lib/components/system/CharacterLocationsCard.svelte
  web/src/lib/components/system/NotesCard.svelte
  web/src/lib/components/system/RouteCard.svelte
  web/src/lib/components/system/SignatureCard.svelte
  web/src/routes/maps/+layout.svelte
Due: web-format, web-lint, web-check

chore: bump version to 0.1.1
  api/pyproject.toml
  api/uv.lock
  web/package-lock.json
  web/package.json
Due: web-format, web-lint, web-check

feat(web): handle error responses when character location refreshes fail
  web/src/lib/components/system/CharacterLocationsCard.svelte
Due: web-format, web-lint, web-check

Path conditions:
  ruff-format: any of: ^api/.*\.py$
  ruff-check: any of: ^api/.*\.py$
  ty-check: any of: ^api/.*\.py$
  web-format: any of: ^web/
  web-lint: any of: ^web/
  web-check: any of: ^web/
